<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <title>Package - express</title>
  <link href="//dn-staticfile.qbox.me/twitter-bootstrap/3.0.0-rc2/css/bootstrap.min.css" rel="stylesheet" media="screen">
  <link href="//dn-staticfile.qbox.me/prettify/r298/prettify.min.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="/assets/css/main.css" />

  <script src="//dn-staticfile.qbox.me/jquery/2.0.3/jquery.min.js"></script>
</head>

<body>

  <header>
    <div class="logo">
      <img src="//ww4.sinaimg.cn/large/69c1d4acgw1ebfly5kjlij208202oglr.jpg">
    </div>
    <input type="text" class="form-control search-input" placeholder="Search Packages">
  </header>

  <div class="pack-overview">
    <div class="pack-info">
      <div class="pack-name">express <span class="pack-ver">4.8.3</span></div>
      <div class="pack-lastup">Last updated a day ago.</div>
      <div class="pack-sync">
        <a href="javascript:;">SYNC</a> missed versions from official npm registry.
      </div>
      <div class="pack-repo">
        <a href="javascript:;">MIT</a> |
        <a href="javascript:;">Repository</a> |
        <a href="javascript:;">Bugs</a>
      </div>
      <div class="pack-install">
        <pre class="sh"><code>$ cnpm install express </code></pre>
      </div>
    </div>
  </div>

  <div class="pack-details cols-box">
    <div class="pack-dep cols-box-item">
      <div class="cols-box-title">
        dependencies
        <a class="more-item" href="javascript:;">+81 more</a>
      </div>
      <ul>
        <li>
          <a class="pack-dep-name" href="javascript:;">accepts</a>
          <span class="pack-dep-ver">1.0.1</span>
        </li>
        <li>
          <a class="pack-dep-name" href="javascript:;">buffer-crc32</a>
          <span class="pack-dep-ver">1.0.1</span>
        </li>
        <li>
          <a class="pack-dep-name" href="javascript:;">debug</a>
          <span class="pack-dep-ver">1.0.1</span>
        </li>
        <li>
          <a class="pack-dep-name" href="javascript:;">escape-html</a>
          <span class="pack-dep-ver">1.0.1</span>
        </li>
        <li>
          <a class="pack-dep-name" href="javascript:;">finalhandler</a>
          <span class="pack-dep-ver">1.0.1</span>
        </li>
      </ul>
    </div>
    <div class="pack-maintainers cols-box-item">
      <div class="cols-box-title">
        maintainers
        <a class="more-item" href="javascript:;">+2 more</a>
      </div>
      <div class="maintainers">
        <div class="row">
          <div class="maintainer">
            <a class="username" href="/~tjholowaychuk">
              <img src="https://secure.gravatar.com/avatar/f1e3ab214a976a39cfd713bc93deb10f?s=50&d=retro" class="avatar">
              tjholowaychuk
            </a>
          </div>
          <div class="maintainer">
            <a class="username" href="/~jongleberry">
              <img src="https://secure.gravatar.com/avatar/6e33cc0412b61cc01daac23c8989003c?s=50&d=retro" class="avatar">
              jongleberry
            </a>
          </div>
        </div>
        <div class="row">
          <div class="maintainer">
            <a class="username" href="/~shtylman">
              <img src="https://secure.gravatar.com/avatar/eb0f066fba69ae24fd346fa097f82d61?s=50&d=retro" class="avatar">
              shtylman
            </a>
          </div>
          <div class="maintainer">
            <a class="username" href="/~dougwilson">
              <img src="https://secure.gravatar.com/avatar/c4b64c6e47d970bb0d07a2b9d559be9b?s=50&d=retro" class="avatar">
              dougwilson
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="pack-vers cols-box-item">
      <div class="cols-box-title">
        versions
        <a class="more-item" href="javascript:;">21 total</a>
      </div>
      <ul>
        <li>
          <a class="pack-vers-code" href="javascript:;">4.8.2</a>
          <span class="pack-vers-date">8 hours ago</span>
        </li>
        <li>
          <a class="pack-vers-code" href="javascript:;">4.7.12</a>
          <span class="pack-vers-date">8 hours ago</span>
        </li>
        <li>
          <a class="pack-vers-code" href="javascript:;">4.7.11</a>
          <span class="pack-vers-date">8 hours ago</span>
        </li>
        <li>
          <a class="pack-vers-code" href="javascript:;">4.7.10</a>
          <span class="pack-vers-date">8 hours ago</span>
        </li>
        <li>
          <a class="pack-vers-code" href="javascript:;">4.7.9</a>
          <span class="pack-vers-date">8 hours ago</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="pack-readme">
    <div class="title">README</div>
    <section id="readme">
<!--readme start-->
<p><a href="https://expressjs.com/"><img src="https://i.cloudup.com/zfY6lL7eFa-3000x3000.png" alt="Express Logo"></a></p>
<p>  Fast, unopinionated, minimalist web framework for <a href="http://nodejs.org">node</a>.</p>
<p>  <a href="https://badge.fury.io/js/express"><img src="https://badge.fury.io/js/express.svg" alt="NPM Version"></a>
  <a href="https://travis-ci.org/visionmedia/express"><img src="https://travis-ci.org/visionmedia/express.svg?branch=master" alt="Build Status"></a>
  <a href="https://coveralls.io/r/visionmedia/express"><img src="https://img.shields.io/coveralls/visionmedia/express.svg" alt="Coverage Status"></a>
  <a href="https://www.gittip.com/dougwilson/"><img src="http://img.shields.io/gittip/dougwilson.svg" alt="Gittip"></a></p>
<pre><code class="lang-js">var express = require(&#39;express&#39;)
var app = express()

app.get(&#39;/&#39;, function (req, res) {
  res.send(&#39;Hello World&#39;)
})

app.listen(3000)
</code></pre>
<p>  <strong>PROTIP</strong> Be sure to read <a href="https://github.com/visionmedia/express/wiki/Migrating-from-3.x-to-4.x">Migrating from 3.x to 4.x</a> as well as <a href="https://github.com/visionmedia/express/wiki/New-features-in-4.x">New features in 4.x</a>.</p>
<h3 id="installation">Installation</h3>
<pre><code class="lang-bash">$ npm install express
</code></pre>
<h2 id="quick-start">Quick Start</h2>
<p>  The quickest way to get started with express is to utilize the executable <a href="https://github.com/expressjs/generator"><code>express(1)</code></a> to generate an application as shown below:</p>
<p>  Install the executable. The executable&#39;s major version will match Express&#39;s:</p>
<pre><code class="lang-bash">$ npm install -g express-generator@4
</code></pre>
<p>  Create the app:</p>
<pre><code class="lang-bash">$ express /tmp/foo &amp;&amp; cd /tmp/foo
</code></pre>
<p>  Install dependencies:</p>
<pre><code class="lang-bash">$ npm install
</code></pre>
<p>  Start the server:</p>
<pre><code class="lang-bash">$ npm start
</code></pre>
<h2 id="features">Features</h2>
<ul>
<li>Robust routing</li>
<li>HTTP helpers (redirection, caching, etc)</li>
<li>View system supporting 14+ template engines</li>
<li>Content negotiation</li>
<li>Focus on high performance</li>
<li>Executable for generating applications quickly</li>
<li>High test coverage</li>
</ul>
<h2 id="philosophy">Philosophy</h2>
<p>  The Express philosophy is to provide small, robust tooling for HTTP servers, making
  it a great solution for single page applications, web sites, hybrids, or public
  HTTP APIs.</p>
<p>  Express does not force you to use any specific ORM or template engine. With support for over
  14 template engines via <a href="https://github.com/visionmedia/consolidate.js">Consolidate.js</a>,
  you can quickly craft your perfect framework.</p>
<h2 id="more-information">More Information</h2>
<ul>
<li><a href="http://expressjs.com/">Website and Documentation</a> - [<a href="https://github.com/visionmedia/expressjs.com">website repo</a>]</li>
<li><a href="https://github.com/expressjs">Github Organization</a> for Official Middleware &amp; Modules</li>
<li><a href="https://webchat.freenode.net/?channels=express">#express</a> on freenode IRC</li>
<li>Visit the <a href="https://github.com/visionmedia/express/wiki">Wiki</a></li>
<li><a href="https://groups.google.com/group/express-js">Google Group</a> for discussion</li>
<li><a href="http://jsman.ru/express/">Русскоязычная документация</a></li>
<li><a href="http://expressjs.kr">한국어 문서</a> - [<a href="https://github.com/Hanul/expressjs.kr">website repo</a>]</li>
<li>Run express examples <a href="https://runnable.com/express">online</a></li>
</ul>
<h2 id="viewing-examples">Viewing Examples</h2>
<p>  Clone the Express repo, then install the dev dependencies to install all the example / test suite dependencies:</p>
<pre><code class="lang-bash">$ git clone git://github.com/visionmedia/express.git --depth 1
$ cd express
$ npm install
</code></pre>
<p>  Then run whichever example you want:</p>
<pre><code>$ node examples/content-negotiation
</code></pre><p>  You can also view live examples here:</p>
<p>  <a href="https://runnable.com/express" target="_blank"><img src="https://runnable.com/external/styles/assets/runnablebtn.png" style="width:67px;height:25px;"></a></p>
<h2 id="running-tests">Running Tests</h2>
<p>  To run the test suite, first invoke the following command within the repo, installing the development dependencies:</p>
<pre><code class="lang-bash">$ npm install
</code></pre>
<p>  Then run the tests:</p>
<pre><code class="lang-bash">$ npm test
</code></pre>
<h3 id="contributors">Contributors</h3>
<ul>
<li>Author: <a href="https://github.com/visionmedia">TJ Holowaychuk</a></li>
<li>Lead Maintainer: <a href="https://github.com/dougwilson">Douglas Christopher Wilson</a></li>
<li><a href="https://github.com/visionmedia/express/graphs/contributors">All Contributors</a></li>
</ul>
<h3 id="license">License</h3>
<p>  <a href="LICENSE">MIT</a></p>
<!--readme end-->
    </section>
  </div>
</body>

</html>

